<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <div class="container">
    <ion-icon name="cart-outline" class="carticon"></ion-icon>
  </div>

  <div>
    <h4>Sign Up</h4>
  </div>

  <div class="form-cont">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input class="textbox" placeholder="First Name"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input class="textbox" placeholder="Last Name"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input class="textbox" placeholder="Email"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input class="textbox" placeholder="Password" type="password"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" class="accountbtn">Create an Account</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="light" class="btn2">
            <ion-icon class="f-logo" name="logo-facebook"></ion-icon>
            Facebook
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" class="btn2">
            <ion-icon class="g-logo" name="logo-google"></ion-icon>
            Google
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" class="accountbtn">Have an account? Sign in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <p>Terms of Use <span>and</span> Privacy Policy</p>
    </div>
  </div>

</ion-content>